*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: #FBE9EA;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}

.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(../img/background/BackgroundTopo.png);
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
  color: #ffffff;
}

.conteudoCardapio{
  width: 95%;
  margin: 10px auto;
}
.descricaoCardapio{
  background: #FFBFAA;
  padding: 10px 5px 5px 5px;
  margin: 10px 0px;
  border-radius: 15px;
}
.nomeGrupo{
  color: #DC617B;
  padding: 5px 10px;
}
.conteudoGrupoCardapio{
  background: #dc617c8e;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  padding: 5px;
  border-radius: 5px 5px 12px 12px;
}
.cardapio{
  margin: 5px auto;
  /* background: #DC617B55; */
  /* background: #00000028; */
  background: #ffffff9d;
  padding: 10px 10px 91px 10px;
  border-radius: 15px;
  border:  #DC617B8d solid 1px;
  position: relative;
}
.cardapioParte2{
  border-top: #DC617B8d solid 1px;
  padding: 5px 5px 20px 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.cardapioNome, .cardapioValor, .cardapioDescricao, .cardapioImagem{
  color: #000000;
  text-align: center;
  padding: 3px 0px;
}
.cardapioNome{
  font-weight: bolder;
  font-size: 18px;
}
.cardapioDescricao{
  line-height: 20px;
  text-align: justify;
}
.cardapioImagem{
  display: flex;
}
.cardapioImagemIcone{
  margin: auto;
}
.cardapioWpp{
  text-align: center;
}
.link{
  background-color: #FFBFAA;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
}

.link:hover{
  box-shadow: 0px 0px 8px 2px #E5AB99;
}

@media only screen and (max-width: 800px){
  .descricaoCardapio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
  }
}
@media only screen and (max-width: 563px){
  .descricaoCardapio{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
  }
}