*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  /* background: linear-gradient(#004070, #000000); */
  background: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
@font-face {
  font-family: logo;
  src: Url("../fonte/Yellowtail-Regular.ttf");
}
a{
  text-decoration: none;
}

.conteudo{
  display: flex;
  height: 100vh;
}
.descricao{
  margin: auto;
}

.conteudoIcone{
  display: flex;
}
.icone{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 0px 40px 2px #1281DA;
  padding: 1px;
  background-color: #ffffff;
}

h1{
  text-align: center;
  color: #1281DA;
  font-size: 50px;
  padding: 10px 5px;
  font-family: logo;
}

.conteudoLink{
  display: grid;
  margin: 5px;
}
.divLink{
  display: flex;
  margin: 7px;
}
.link{
  min-width: 350px;
  background-color: #EA9A5B;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
}

.link:hover{
  box-shadow: 0px 0px 8px 2px #ec893d;
}
