*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: #FBE9EA;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
@font-face {
  font-family: logo;
  src: Url("../fonte/Ants\ Valley\ -\ Personal\ Use.otf");
}
a{
  text-decoration: none;
}

.pagina{
  display: flex;
  height: 100vh;
}
.conteudoPagina{
  margin: auto;
}

.conteudoIcone{
  display: flex;
}
.imagemIcone{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 0px 40px 2px  #DC617B;
  padding: 1px;
  background-color: #ffffff;
}

.nomeNegocio{
  text-align: center;
  color: #DC617B;
  font-size: 50px;
  padding: 10px 5px;
  font-family: logo;
}

.conteudoLinks{
  display: grid;
  margin: 5px;
}
.descricaoLink{
  display: flex;
  margin: 7px;
}
.link{
  background: #FFBFAA;
  color: #4C3933;
  min-width: 350px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 16px;
  font-weight: bolder;
}

.link:hover{
  color: #FFBFAA;
  background: #4C3933;
  box-shadow: 0px 0px 6px 6px #E5AB99;
}
